* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 2s linear;
}

body {
    box-sizing: border-box;
    scrollbar-width: 2px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {    
    --brand-100: #DAC3E8;
    --brand-200: #DAC3E8;
    --brand-300: #CC9EE8;
    --brand-400: #BC74E8;
    --brand-color: #A435E8;
    --brand-600: #9800F5;
    --brand-text: #26003D;
    --layer-1: 1;
    --layer-2: 2;
    --layer-3: 3;
}

.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: var(--layer-3);
}

.navbar .wrapper {
    width: 100%;
    display: flex;
    padding: 12px 18px;
    background: var(--brand-600);
    justify-content: space-between;
}

.navbar .wrapper .left {
    position: relative;    display: flex;
    flex: 3;
    align-items: center;
}

.navbar .wrapper .left a {
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 15px;
    width: 120px;
}

.navbar .wrapper .left a h2 {
   font-weight: 500;
   font-size: 17px;
}

.navbar .wrapper .right {
    flex: 1;
    align-items: center;
}

.navbar .wrapper .right ul {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar .wrapper .right ul li {
    display: inline-flex;
    list-style: none;
    color: var(--brand-100);
    margin-right: 20px;
}

.navbar .wrapper .right ul li:nth-child(1) a {
    display: block;
    background: #fff;
    color: var(--brand-text);
    padding: 12px;
    font-weight: bold;
    font-weight: 500;
    transition: all 500ms ease;
}

.navbar .wrapper .right ul li:nth-child(1) a:hover {
    border-radius: 20px;
    transition: all 300ms ease;
}

.navbar .wrapper .right ul li a {
    list-style: none;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}



button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px;
}


/* Hero Section */

.hero {
    position: relative;
    display: flex;
    top: 55px;
    align-items: center;
    margin: 10px;
}

.hero h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 400px;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin: 20px;
    text-align: left;
}

.hero h2 button {
    width: 300px;
    padding: 12px 35px;
    background: var(--brand-600);
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    transition: all 300ms ease;
}

.hero h2 button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    transition: all 300ms ease;
}

.hero h2 button:hover  {
    color: #26003D;
    border: 1px solid var(--brand-600);
    border-radius: 25px;
    transition: all 300ms ease;
}

.hero .img-box {
    width: 600px;
    height: 600px;
    flex: 3;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 10px;
}


.hero .img-box img {
   width: 50vw;
   height: 90vh;
}


.err {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #ff150024;
    color: red;
    font-size: 17px;
    letter-spacing: 0.1em;
}





/* login container */

.login-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 100px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 80%;
    border-radius: .5em;
    /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); */
}


.login-container .wrapper {
    width: 100%;
    padding: 18px;
    /* background: #eaeaea4c; */
    border-radius: .7em;
}

.login-container .wrapper .head {
    width: 100%;
}

.login-container .wrapper .head h2 {
    padding: 10px;
    font-weight: 500;
}

.login-container .wrapper hr {
    margin: 10px 50px;
    opacity: .2;
}

.login-container .wrapper form {
    margin-top: 5px;
}

.login-container .wrapper form .form-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
}

.login-container .wrapper form .form-group input {
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: .3em;
    margin-top: 3px;
    border: 1px solid var(--brand-600);
    background: var(--brand-100);
}


.login-container .wrapper form .cta {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.login-container .wrapper form .cta button {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 140px;
    border: none;
    outline: none;
    background: var(--brand-color);
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border-radius: .2em;
}


.login-container .wrapper form .cta p {
    color: var(--brand-text);
    margin-right: 10px;
}

















/* footer */

.footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--brand-200);
    justify-content: center;
}

.footer p {
    padding: 10px 12px;
    color: var(--brand-text);
    text-align: center;
}   











/* Mobile Responsiveness */

@media only screen and (max-width: 970px) {

    
    .navbar .wrapper .right ul li:nth-child(2), 
    .navbar .wrapper .right ul li:nth-child(3) {
        display: none;
    }

    .navbar .wrapper .right ul li:nth-child(1) a {
        display: block;
        background: #fff;
        color: var(--brand-text);
        padding: 12px;
        font-weight: bold;
        font-weight: 500;
        transition: all 500ms ease;
    }
    
    .navbar .wrapper .right ul li:nth-child(1) a:hover {
        border-radius: 20px;
        transition: all 300ms ease;
    }

    .hero {
        position: relative;
        padding: 10px;
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
        vertical-align: middle;
        flex-direction: column-reverse;
        background: #fff;
    }

    .hero h2 {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
        text-align: left;
        margin-left: 40px;
        /* background: #8929e372; */
        z-index: 999;
    }

    .hero h2 button {
        position: relative;
        display: flex;
        padding: 12px 25px;
        background: var(--brand-600);
        color: #fff;
        font-size: 16px;
        margin-top: 5px;
        margin-left: 50px;
        border-radius: .3em;
        justify-content: center;
        transition: all 300ms ease;
    }

    .hero h2 button:hover {
        background: #fff;
        color: var(--brand-600);
        border: 1px solid var(--brand-600);
        border-radius: 25px;
        transition: all 300ms ease;
    }

    .hero .img-box {
        position: relative;
        display: flex;
        width: inherit;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        padding: 10px;
        margin: 10px;
    }

    .hero .img-box img {
        width: 100%;
        height: 400px;
    }


}